<a href="https://colab.research.google.com/github/psbruno/AED1.files/blob/master/kNN_PlayInMundial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as sch
from scipy.cluster.hierarchy import dendrogram, linkage

In [4]:
Jogos = pd.read_csv("PlayIn.csv")
Jogos.head()

        Time        Top     Jungle  ...        Sup Vitoria        Classe
0       INTZ      Urgot     Gragas  ...    Alistar       0         Dive
1  MAD Lions   Renekton    Evelynn  ...   Pantheon       1         Split
2     Legacy    Camille    Nidalee  ...   Nautilus       1         Split
3       INTZ    Vladmir   Volibear  ...      Bardo       0          Poke
4        LGD   Volibear      Lilia  ...      Braum       0   Wombo Combo

[5 rows x 8 columns]

In [5]:
atributos=np.zeros((78,6))

In [11]:
Classes = pd.read_csv("Estrategias.csv")
Classes.head()

    Campeao  Peel  Dive  Split  Poke  Wombo Combo
0   Nidalee     3     3      0     5            0
1     Lilia     0     2      0     3            5
2   Orianna     3     3      0     4            5
3      Ornn     4     3      1     0            4
4    Graves     1     3      1     1            5

In [42]:
i=0
Classe=[]
for index, PlayIn in Jogos.iterrows():
  Classe.append(PlayIn[" Classe"])
  #print("Time:", PlayIn["Time"], "\n")
  flag=0 
  for  index, Dados in Classes.iterrows():
    if(Dados["Campeao"] == PlayIn["Top"]):
      A=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["Jungle"]):
      B=Dados
    if(Dados["Campeao"] == PlayIn["Mid"]):    
      C=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["ADC"]):
      D=Dados
      flag=flag+1
    if(Dados["Campeao"] == PlayIn["Sup"]):
      E=Dados  
      flag=flag+1
    if(flag==5):
      break

  

  #print("Top :",A["Campeao"],"Jungle:",B["Campeao"],"Mid:",C["Campeao"],"ADC:",D["Campeao"],"SUP",E["Campeao"])
  atributos[i][0]=A["Peel"]+B["Peel"]+C["Peel"]+D["Peel"]+E["Peel"]
  atributos[i][1]=A["Dive"]+B["Dive"]+C["Dive"]+D["Dive"]+E["Dive"]
  atributos[i][2]=A["Split"]+B["Split"]+C["Split"]+D["Split"]+E["Split"]
  atributos[i][3]=A["Poke"]+B["Poke"]+C["Poke"]+D["Poke"]+E["Poke"]
  atributos[i][4]=A["Wombo Combo"]+B["Wombo Combo"]+C["Wombo Combo"]+D["Wombo Combo"]+E["Wombo Combo"]
  i=i+1
    
    #print("\n<-------------------",linha,"-------------------->")

print(i)

77

In [56]:

trainX = atributos[:50]
trainY = Classe[:50]

In [57]:
trainY

[' Dive ',
 ' Split',
 ' Split',
 ' Poke',
 ' Wombo Combo',
 ' Wombo Combo',
 ' Split',
 ' Split',
 ' Split',
 ' Wombo Combo',
 ' Wombo Combo',
 ' Dive',
 ' Dive',
 ' Peel',
 '  Wombo Combo',
 ' Split',
 ' Split',
 ' Wombo Combo',
 ' Wombo Combo',
 ' Dive',
 ' Wombo Combo',
 ' Wombo Combo',
 ' Wombo Combo',
 ' Dive',
 ' Peel',
 ' Dive',
 ' Wombo Combo',
 ' Split',
 ' Peel',
 ' Wombo Combo',
 ' Split',
 ' Wombo Combo',
 ' Wombo Combo',
 ' Wombo Combo',
 ' Poke',
 ' Poke',
 ' Peel',
 ' Split',
 ' Peel',
 ' Wombo Combo',
 ' Dive',
 'Split',
 ' Wombo Combo',
 ' Peel',
 ' Wombo Combo',
 ' Peel',
 ' Peel',
 ' Wombo Combo',
 ' Poke',
 ' Dive']

In [ ]:
atributos

In [39]:
neigh=KNeighborsClassifier()

In [63]:
neigh.fit(trainX, trainY)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [65]:
test = atributos[50:70]
test

array([[11., 15., 13.,  9., 21., 21.],
       [12., 15.,  5., 11., 15., 15.],
       [16., 16.,  8.,  7., 17., 17.],
       [11., 13.,  3., 10., 25., 25.],
       [11., 16.,  9., 10., 23., 23.],
       [12., 14.,  4.,  6., 20., 20.],
       [12., 19., 10.,  3., 20., 20.],
       [11., 12.,  6., 11., 21., 21.],
       [15., 15.,  6.,  8., 17., 17.],
       [11., 18.,  6.,  6., 21., 21.],
       [ 9., 21.,  7.,  1., 21., 21.],
       [14., 16.,  6.,  9., 21., 21.],
       [ 9., 18.,  4., 11., 24., 24.],
       [12., 16.,  2., 10., 23., 23.],
       [17., 14.,  8.,  8., 19., 19.],
       [11., 13.,  4., 10., 17., 17.],
       [ 9., 17.,  2.,  8., 25., 25.],
       [14., 15.,  4., 11., 23., 23.],
       [11., 17., 10., 11., 17., 17.],
       [15., 14.,  7.,  9., 14., 14.]])

In [68]:
Jogos[50:70]

            Time           Top    Jungle  ...        Sup Vitoria        Classe
50     MAD Lions   Mordekaiser      Sett  ...      Senna       0          Dive
51  SuperMassive          Shen    Graves  ...   Nautilus       0          Poke
52    MAD Lions           Ornn     Lilia  ...      Leona       1          Peel
53  SuperMassive          Sion     Lilia  ...      Leona       1   Wombo Combo
54     MAD Lions          Sett    Graves  ...     Wukong       0         Split
55     MAD Lions          Ornn    Graves  ...    Alistar       1          Poke
56  SuperMassive          Sion     Lilia  ...      Leona       0          Dive
57  SuperMassive      Malphite     Lilia  ...    Morgana       1   Wombo Combo
58     MAD Lions      Renekton    Graves  ...      Leona       0          Peel
59      Rainbow7       Camille    Graves  ...      Leona       0   Wombo Combo
60           LGD      Volibear   Kindred  ...      Rakan       1          Peel
61      Rainbow7        Aatrox    Graves  ...   Nautilus       0          Peel
62           LGD          Gnar   Kindred  ...      Leona       1   Wombo Combo
63           LGD          Ornn   Kindred  ...      Leona       1   Wombo Combo
64      Rainbow7         Kayle    LeeSin  ...       Sett       0          Peel
65           UOL        Wukong   Nidalee  ...    Alistar       1   Wombo Combo
66  SuperMassive      Malphite     Lilia  ...      Rakan       0          Dive
67  SuperMassive        Wukong     Lilia  ...      Leona       0   Wombo Combo
68           UOL      Renekton    Graves  ...    Alistar       1          Dive
69           UOL        Wukong   Nidalee  ...      Braum       1          Peel

[20 rows x 8 columns]

In [66]:
neigh.predict(test)

array([' Dive', ' Wombo Combo', ' Peel', ' Wombo Combo', ' Dive',
       ' Wombo Combo', ' Dive', ' Wombo Combo', ' Peel', ' Dive',
       ' Split', ' Wombo Combo', ' Wombo Combo', ' Wombo Combo', ' Peel',
       ' Wombo Combo', ' Wombo Combo', ' Wombo Combo', ' Dive', ' Peel'],
      dtype='<U13')